<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JDBCDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OracleServlet</display-name>
    <servlet-name>OracleServlet</servlet-name>
    <servlet-class>idb.OracleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OracleServlet</servlet-name>
    <url-pattern>/OracleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SampleServlet</display-name>
    <servlet-name>SampleServlet</servlet-name>
    <servlet-class>idb.SampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleServlet</servlet-name>
    <url-pattern>/SampleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Artist</display-name>
    <servlet-name>Artist</servlet-name>
    <servlet-class>Artist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Artist</servlet-name>
    <url-pattern>/Artist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HTMLParser</display-name>
    <servlet-name>HTMLParser</servlet-name>
    <servlet-class>HTMLParser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTMLParser</servlet-name>
    <url-pattern>/HTMLParser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBUtil</display-name>
    <servlet-name>DBUtil</servlet-name>
    <servlet-class>DBUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBUtil</servlet-name>
    <url-pattern>/DBUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product</display-name>
    <servlet-name>Product</servlet-name>
    <servlet-class>product.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DB_Conn</display-name>
    <servlet-name>DB_Conn</servlet-name>
    <servlet-class>idb.DB_Conn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DB_Conn</servlet-name>
    <url-pattern>/DB_Conn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadParams</display-name>
    <servlet-name>ReadParams</servlet-name>
    <servlet-class>demo.ReadParams</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadParams</servlet-name>
    <url-pattern>/ReadParams</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloForm</display-name>
    <servlet-name>HelloForm</servlet-name>
    <servlet-class>demo.HelloForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <url-pattern>/HelloForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartPage</display-name>
    <servlet-name>StartPage</servlet-name>
    <servlet-class>idb.StartPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartPage</servlet-name>
    <url-pattern>/StartPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductPage</display-name>
    <servlet-name>ProductPage</servlet-name>
    <servlet-class>idb.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductPage</servlet-name>
    <url-pattern>/ProductPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductView</display-name>
    <servlet-name>ProductView</servlet-name>
    <servlet-class>idb.ProductView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductView</servlet-name>
    <url-pattern>/ProductView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>idb.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChooseCategory</display-name>
    <servlet-name>ChooseCategory</servlet-name>
    <servlet-class>idb.ChooseCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseCategory</servlet-name>
    <url-pattern>/ChooseCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Purchase</display-name>
    <servlet-name>Purchase</servlet-name>
    <servlet-class>idb.Purchase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Purchase</servlet-name>
    <url-pattern>/Purchase</url-pattern>
  </servlet-mapping>
</web-app>