<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JDBCDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OracleServlet</display-name>
    <servlet-name>OracleServlet</servlet-name>
    <servlet-class>idb.OracleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OracleServlet</servlet-name>
    <url-pattern>/OracleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SampleServlet</display-name>
    <servlet-name>SampleServlet</servlet-name>
    <servlet-class>idb.SampleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SampleServlet</servlet-name>
    <url-pattern>/SampleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Artist</display-name>
    <servlet-name>Artist</servlet-name>
    <servlet-class>Artist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Artist</servlet-name>
    <url-pattern>/Artist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HTMLParser</display-name>
    <servlet-name>HTMLParser</servlet-name>
    <servlet-class>HTMLParser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTMLParser</servlet-name>
    <url-pattern>/HTMLParser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBUtil</display-name>
    <servlet-name>DBUtil</servlet-name>
    <servlet-class>DBUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBUtil</servlet-name>
    <url-pattern>/DBUtil</url-pattern>
  </servlet-mapping>
</web-app>